.form {
  position: relative;
}

.prediction {
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 20px;
  color: red;
  width: 200px;
}

.input {
  background-color: transparent;
  margin: 0;
  padding: 20px;
  width: 200px;
}

.list {
  position: absolute;
  width: 200px;
  height: 200px;
  overflow-y: scroll;
  top: 50px;
  left: 120px;
}

.list li {
  border: 1px solid black;
  list-style-type: none;
  padding: 20px;
}
